body{
    background-color: rgb(206, 235, 252);
    text-align: center;
}
table{
    width:60%;
    /* margin: :auto; */
    font-size: 1.5em;
}
td{
    border-bottom: 1px solid blue;
}
/* table,th,td{ 
     border: 1px solid; 
}*/